{% extends 'registration/base.html' %}


{% block content %}


<div class="container-fluid logout-page">

    <div class="row">


        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="container image-display text-center">
                <h3 class="text-center intro-text">Bringing you closer <br> to the things and people <br> you <span
                        class="love">love</span>.</h3>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <img class="display-pic"
                            src="https://images.pexels.com/photos/2041832/pexels-photo-2041832.jpeg?cs=srgb&dl=pexels-samir-jammal-2041832.jpg&fm=jpg"
                            alt="">

                        <img class="display-pic"
                            src="https://images.pexels.com/photos/3087002/pexels-photo-3087002.jpeg?cs=srgb&dl=pexels-igor-ferreira-3087002.jpg&fm=jpg"
                            alt="">

                        <img class="display-pic"
                            src="https://images.pexels.com/photos/4629907/pexels-photo-4629907.jpeg?cs=srgb&dl=pexels-olya-kobruseva-4629907.jpg&fm=jpg"
                            alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <img class="display-pic"
                            src="https://images.pexels.com/photos/220455/pexels-photo-220455.jpeg?cs=srgb&dl=pexels-pixabay-220455.jpg&fm=jpg"
                            alt="">

                        <img class="display-pic"
                            src="https://images.pexels.com/photos/1882309/pexels-photo-1882309.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            alt="">

                        <img class="display-pic"
                            src="https://images.pexels.com/photos/1987301/pexels-photo-1987301.jpeg?cs=srgb&dl=pexels-tomaz-barcellos-1987301.jpg&fm=jpg"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 logout-section">

            <div class="container text-center m-5">
                <h3 class="intro-text">Thank you for visiting!</h3>
                <a href="/accounts/login/"><button class="btn btn-primary log-btn">Login</button></a>
            </div>
        </div>

    </div>
</div>

{% endblock %}