p {
  font-family: 'Tai Heritage Pro', serif;
  font-size: 20px;
}
.bowdy{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: cover;
  height: 100vh; 
}
.login-section,
.registration-section, .comment-form {
  color: white;
}
.login-body{
  width: 350px;
  margin: 15% auto 0 auto;
  padding: 7%;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.login-btn, .register-btn, .comment-btn, .log-btn{
  color: #fff;
  font-size: 25px;
  width: 150px;
  margin: 2%;
  background-color: #4c68d7;
  padding: 2%;
  border: 1px solid #4c68d7;
}
.login-btn:hover, .register-btn:hover, .comment-btn:hover, .log-btn:hover  {
  background-color:#bc2a8d;
  color: white;
  border: 1px solid white;
  transition: 250ms;
}
 .login-body, .register-body {
  width: 750px;
  margin: 1% auto 0 auto;
  padding: 7%;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.intro-text {
  color: white;
  font-weight: bold; 
}
.post-body {
  width: 500px;
  margin: 10% auto 0 auto;
  padding: 6%;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  color: #423F3E;
  font-size: smaller;
  background-color: #fbad50;
  object-fit: cover;
}
.d-flex{
  text-decoration: none;
}
.card {
  margin: 2% auto;
  padding: 2%;
  border: none;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 11px 0 rgba(0, 0, 0, 0.19);
  width: 800px;
  height: 700px; 
}
.posted-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
}
.user-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 10px 13px 0 rgba(0, 0, 0, 0.2), 0 11px 25px 0 rgba(0, 0, 0, 0.19);  
}
.navbar {
  background-color: #bc2a8d;
  font-weight: bold;
  padding: 1%;
}
.modal-pic {
  margin: 0 auto;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.profile-display {
  padding: 4%;
  margin: 2% auto;
}
.prof-pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.prof-display {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.bio-space {
  width: 40%;
  margin: 2% auto;
}
.user-tag {
  text-decoration: none;
  color: #8a3ab9;
  text-align: center;
}
.row{
  text-decoration: none;
}
::selection {
  background-color: #4c68d7;
  color: white;
}